<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <!-- 
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
	-->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

	<!--
	<property name="CONSOLE_LOG_PATTERN" value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr(-){faint} %clr([%10.10t]){faint} %clr(%-50.50logger{49}){cyan} %clr(:){faint} %m%n%wex"/>
 	<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%10.10t] %-50.50logger{49} : %m%n%wex"/>
 	-->
	<!--<property name="CONSOLE_LOG_PATTERN" value="%clr(%5p) %clr([%8.8t]){faint} %clr(%-30.30logger{29}){cyan} %clr(:){faint} %m%n%wex"/>-->

	<property name="CONSOLE_LOG_PATTERN" value="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr(-){faint} %clr([%10.10t]){faint} %clr(%-50.50logger{49}){cyan} %clr(:){faint} %m%n%wex"/>
	<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p : %10.10t : %-50.50logger{49} : %m%n%wex"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
    
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>@app.log.path@/photohub.log</file>

		<!-- daily rollover -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>@app.log.path@/photohub.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>


		<!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
			<!--<fileNamePattern>photohub.%d{yyyy-MM-dd}.%i.txt</fileNamePattern>-->
			<!--<maxFileSize>5MB</maxFileSize>-->
			<!--<maxHistory>7</maxHistory>-->
			<!--<totalSizeCap>1GB</totalSizeCap>-->
		<!--</rollingPolicy>-->

		<!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
			<!--<fileNamePattern>${LOG_FILE}.%i</fileNamePattern>-->
			<!--<maxHistory>10</maxHistory>-->
		<!--</rollingPolicy>-->
		<!--<triggeringPolicy-->
			<!--class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
			<!--<MaxFileSize>1MB</MaxFileSize>-->
		<!--</triggeringPolicy>-->

	</appender>

	<appender name="TASKS"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>@app.log.path@/tasks.log</file>

		<!-- daily rollover -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>@app.log.path@/tasks.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>

	</appender>

	 
	<appender name="DEBUG_LEVEL_REMAPPER" class="org.springframework.boot.logging.logback.LevelRemappingAppender">
		<destinationLogger>org.springframework.boot</destinationLogger>
	</appender>	
	
		
	<logger name="org.apache.catalina.startup.DigesterFactory" level="WARN"/>
	<logger name="org.apache.catalina.util.LifecycleBase" level="WARN"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
	<logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
	<logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
	<logger name="org.crsh.plugin" level="WARN"/>
	<logger name="org.crsh.ssh" level="WARN"/>
	<logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
	<logger name="org.hibernate.validator" level="WARN"/>
	<logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
	<logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="WARN"/>
	<logger name="org.springframework.boot.actuate.endpoint.jmx" additivity="false">
		<appender-ref ref="DEBUG_LEVEL_REMAPPER"/>
	</logger>
	<logger name="org.thymeleaf" additivity="false">
		<appender-ref ref="DEBUG_LEVEL_REMAPPER"/>
	</logger>
	<logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>

	<logger name="springfox.documentation" level="WARN"/>
	<!-- com.querydsl.jpa.impl.JPAQuery -->
	<logger name="com.querydsl.jpa.impl.JPAQuery" level="WARN"/>

	<logger name="org.eclipse.persistence" level="WARN"/> 
	<logger name="org.eclipse.persistence.session" level="WARN"/>  <!-- trace SQL -->
<!-- 
	<logger name="org.eclipse.persistence.session.file:/Volumes/Dual-B/Users/abel/Developing/photohub-root/app/bin/photohub-exec.jar_photohub2-data.query"
  		level="TRACE"/>
 -->	  		
  	<logger name="org.springframework.jdbc" level="WARN"/>    
 	<logger name="org.springframework.data" level="WARN"/>	
 	<logger name="org.hsqldb" level="WARN"/>
	<logger name="org.flywaydb" level="WARN"/>

	<logger name="home.abel.photohub.utils" level="WARN"/>
  	<logger name="home.abel.photohub" level="TRACE"/>

	<logger name="home.abel.photohub.tasks" level="TRACE">
		<appender-ref ref="TASKS" />
	</logger>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>    
</configuration>
