**/bootstrap*
**/glyphicons*
**/fontawesome*
**/FontAwesome*
**/fontawesome-webfont*
**/font-awesome*
**/backbone*
**/underscore*
**/require.js
**/moment.js
**/pikaday*
**/underscore*
**/fontawesome*
**/locale/
**/jquery*
**/yarn.lock
**/src/js/lib
